<div class="card">
  <%= link_to image_tag(prototype.image, class: "card__img" ), prototype_path(prototype.id) %> <%#.ドット以降につけたものは、それを指定している！ビューのnewで再度render用に変数にしているから「prototype」になっている！以下同様%><%#選択した画像に遷移するために「(prototype.id)」とつける！！%>
  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype.id), class: "card__title"%>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to "by #{prototype.user.name}", user_path(prototype.user), class: "card__user" %>
  </div>
</div>